.settings {
  width: 100%;
  max-width: 400px;
}

.settings .input, .react-select {
  width: 100%;
  margin-bottom: 10px;
}

.settings__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 20px 0;
}

.settings__title:first-child {
  margin-top: 0;
}
