.roles form {
  width: 100%;
  background-color: #fff;
}

.roles form input[type="submit"] {
  float: right;
  margin: 15px;
}

.roles__header {
  display: flex;
  align-items: center;
  height: 46px;
  padding:0 5px;
  background-color: var(--light-bg);
}

.roles__header .input {
  margin: 0;
  width: 100%;
}

.roles__header .input input {
  font-size: 16px;
  text-align: left;
}

.permissions {
  margin: 10px 0;
}

.permissions__label {
  display: inline-block;
  width: 97%;
  padding: 10px;
  cursor: pointer;
}

.roles__list {
  width: 100%;
  background-color: #fff;
}
