.tickets__manager {
  height: 100%;
}

.tickets__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
}

.tickets__constrols--group {
  display: flex;
  align-items: center;
}

.tickets__controls .tickets__title {
  margin-left: 10px;
}
