.save-button {
  position: relative;
  padding: 8px 12px;
}

.save-button .icon {
  margin-right: 8px;
}

.save-button > .spinner-holder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
