.free-slots {
  width: 100%;
}

.list__item.free-slots__item {
  flex-direction: column;
  border-radius: 14px;
  border-bottom: 0;
  padding: 25px;
  margin-bottom: 20px;
  background-color: #fff;
}

.free-slots__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.free-slots__bottom-bar {
  width: 100%;
}

.free-slots__bottom-bar .button {
  width: 100%;
  justify-content: space-between;
}

.free-slots__dialog-content {
  line-height: 1.4;
  margin-bottom: 20px;
}
