.draft__title {
  display: block;
  width: 80%;
  margin: 20px auto;
  font-size: 1.5rem;
}

.draft__title--smaller {
  width: 90%;
  max-width: 900px;
}

.draft__title .input input {
  font-size: 1.5rem;
  color: var(--font-dark);
  padding: 0;
  background: transparent;
  border: transparent;
}

.draft__title input[disabled] {
  opacity: 1;
  cursor: default;
}
