.draft__title {
  font-size: 1.5rem;
}

.draft__title .editable-text__content {
  width: 100%;
}

.draft__title .input input {
  font-size: 1.5rem;
  color: var(--font-dark);
  padding: 0;
  background: transparent;
  border: transparent;
  text-align: left;
}

.draft__title input[disabled] {
  opacity: 1;
  cursor: default;
}
