.spinner-holder{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin-top: 20px;
  opacity: 1;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top: 10px solid var(--main-decoration);
  border-bottom: 10px solid var(--secondary-decoration);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.spinner__message {
  font-size: 1.2rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
