.teams .header {
  justify-content: space-between;
}

.teams .header .button.active {
  color: var(--font-dark);
  background-color: #fff;
}

.teams .section__content {
  flex-direction: column;
  width: 50%;
  transition: none;
}

.teams__list {
  width: 100%;
  background-color: #fff;
}

.container--splitted .teams .section__content {
  width: 100%;
}

.teams__team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-bottom: 1px solid var(--light-bg);
  cursor: pointer;
}

.teams__team:not(.teams__team--selected):hover {
  background-color: var(--light-bg);
}

.teams__team--selected {
  color: var(--font-light);
  background-color: var(--dark-bg);
}

.teams__team--selected .icon svg {
  fill: #fff;
}

.teams__role-add .permissions {
  margin-bottom: 10px;
  background-color: #fff;
}

.teams__role-add .input {
  padding: 2px 4px;
  margin-bottom: 0;
  background-color: var(--light-bg);
}

.teams__rolesList {
  background-color: #fff;
}
