.card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  padding: 20px;
  border: 1px solid var(--light-bg);
  border-radius: 5px;
  margin: 10px;
  text-decoration: none;
}

.card__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.card .limitedui {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.card .limitedui .button {
  margin-left: 10px;
}
