.bookpart__item--module .process-preview {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.bookpart__item--module .bookpart__process {
  background: none;
  color: var(--font-dark);
}
