@import '~cnx-designer/dist/index.css';

.draft {
  min-height: 100%;
  padding: 0;
  background-color: #f8f5f5;
}

.draft__title {
  display: block;
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  font-size: 1.5rem;
}

.draft__title .input input {
  font-size: 1.5rem;
  color: var(--font-dark);
  padding: 0;
  background: transparent;
  border: transparent;
}

.draft__editor {
  position: relative;
  display: flex;
  width: 100%;
}

.document {
  flex: 1;
  margin-right: 260px; /* width of toolbox */
}

.editor {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  font-size: 15px;
  text-align: justify;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.editor p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.editor ul {
  padding-left: 30px;
  list-style-type: disc;
}

.editor ol {
  padding-left: 30px;
  list-style-type: upper-roman;
}

.editor sub, .editor sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.editor sup {
  top: -0.5em;
}

.editor sub {
  bottom: -0.25em;
}

.editor em {
  font-style: italic;
}

.editor figure {
  margin: 0;
  padding-left: 48q;
  padding-right: 48q;
}

.editor img {
  /* By changing padding from 2px to 0 when rendering selection we ensure
   * the total width doesn't change, avoiding layout ‘jumping’ when user
   * selects an image.
   */
  padding: 2px;
}

.editor img[data-selected=true] {
  border: 2px solid blue;
  padding: 0;
}

.editor h2.title {
  /* Use same margins for titles as for paragraphs. */
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* Don't use bold for titles. */
  font-weight: normal;
  font-size: 1.3rem;
}

.editor .admonition {
  border-inline-start: 4px solid var(--color);
  margin-inline-start: calc(var(--margin-inline-start) - 12px);
  padding-inline-start: 8px;
}

.editor .admonition > .admonition-title:first-child {
  user-select: none;
  display: block;
  color: gray;
}

.editor .admonition[data-type="note"] {
  --color: gray;
}

.editor .admonition[data-type="warning"] {
  --color: yellow;
}

.editor .admonition[data-type="tip"] {
  --color: gray;
}

.editor .admonition[data-type="important"] {
  --color: red;
}

.editor .exercise {
  border-inline-start: 4px solid gray;
  margin-inline-start: calc(var(--margin-inline-start) - 12px);
  padding-inline-start: 8px;
}

.editor .exercise ::before {
  display: block;
  color: gray;
}

.editor .exercise * > :first-child {
  margin-top: 0;
}

.editor .exercise .exercise-problem::before {
  content: attr(data-label);
}

.editor .exercise .exercise-solution::before {
  content: attr(data-label);
}

.editor .exercise .exercise-commentary::before {
  content: attr(data-label);
}

div.editor figure > figcaption::before {
  content: attr(data-label);
}

.editor .adr-table {
  display: table;
  width: 100%;
  margin: 2rem 0;
  border-bottom: 2px solid #ddd;
}

.editor .adr-title {
  font-weight: 700;
  display: table-caption;
  caption-side: bottom-outside;
  padding: 1rem 0;
}

.editor .adr-caption {
  display: table-caption;
  caption-side: bottom-outside;
  padding: 1rem 0;
}

.editor .adr-caption::before {
  content: "Table caption: ";
  font-weight: 700;
}

.editor .adr-tgroup {
  display: table;
  width: 100%;
}

.editor .adr-colspec, .editor .adr-spanspec {
  display: none;
}

.editor .adr-thead {
  display: table-header-group;
}

.editor .adr-thead .adr-entry {
  font-weight: 700;
  border-bottom: 2px solid #ddd;
}

.editor .adr-tbody {
  display: contents;
}

.editor .adr-tfoot {
  display: table-footer-group;
}

.editor .adr-row {
  display: table-row;
}

.editor .adr-tbody .adr-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.editor .adr-entry {
  display: table-cell;
  padding: 0.5rem 1rem;
}
