.step-changer {
  display: flex;
  align-items: center;
}

.step-changer__select-link {
  margin: 0 10px;
  width: 200px;
}

.step-changer__dialog-controls {
  margin-top: 20px;
}

.step-changer__dialog-content .button {
  margin-left: 5px;
}

.step-changer__info {
  margin-bottom: 20px;
}
