html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

:root {
  --light-bg: #dbe1ef;
  --dark-bg: #3e4e64;

  --font-dark: #3e4e64;
  --font-light: white;

  --main-decoration: #ad35bb;
  --secondary-decoration: #0080db;

  --status-online: #27d768;
  --status-unread: #db0037;
  --status-ready: #0080db;
  --status-translation: #ff9a3e;
  --status-review: #db0037;
  --status-done: #27d768;

  --red: #db0037;
  --green: #27d768;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: var(--font-dark);
}

html, body, #root, .container {
  height: 100%;
}

.frame {
  border: 1px solid var(--light-bg);
  border-bottom: none;
}

.spinner-holder{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.spinner {
  opacity: 1;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top: 10px solid var(--main-decoration);
  border-bottom: 10px solid var(--secondary-decoration);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bold {
  font-weight: 700;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.icon--small svg {
  width: 15px;
  height: 15px;
}

.icon--medium svg {
  width: 25px;
  height: 25px;
}

.icon--big svg {
  width: 40px;
  height: 40px;
}

.button {
  /* reset button styling */
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-decoration: none;
  /* end of reset */

  font-size: 1rem;
  padding: 5px 10px;
  color: var(--font-light);
  background-color: var(--dark-bg);
  cursor: pointer;
  border-radius: 4px;
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.button--small {
  font-size: 0.8rem;
  padding: 4px 7px;
}

.button--medium {
  padding: 5px 10px;
}

.button--big {
  font-size: 1.2rem;
  padding: 10px 15px;
}

.button--green {
  background-color: var(--green);
}

.button--red {
  background-color: var(--red);
}

.dialog__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.dialog__container.supersession {
  z-index: 999;
}

.dialog__content {
  position: relative;
  width: 300px;
  padding: 20px;
  background-color: var(--light-bg);
  border-radius: 5px;
}

.dialog__container--small .dialog__content {
  width: 300px;
}

.dialog__container--medium .dialog__content {
  width: 600px;
}

.dialog__container--big .dialog__content {
  width: 900px;
}

.dialog__title {
  padding: 20px 0;
}

.dialog__content button {
  margin-right: 10px;
}

.dialog__close {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.error404 h1 {
  font-size: 1.3rem;
}

.container {
  font-size: 1rem;
}

.container--main {
  display: flex;
}

.container--splitted {
  display: flex;
}

.header {
  max-width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: var(--light-bg);
}

.header__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: 20px;
}

.adminui {
  display: flex;
  align-items: center;
}

.adminui input {
  margin-right: 10px;
}

.sidebar {
  width: 250px;
  border-left: 0;
}

.sidebar .header__title {
  margin: 0;
}

.sidebar__toggle {
  display: inline-flex;
  background: none;
  color: var(--font-dark);
}

.sidebar.small {
  width: 70px;
}

.sidebar.small .header {
  justify-content: center;
}

.sidebar.small .header__title {
  font-size: 0;
}

.sidebar.small .nav__text {
  font-size: 0;
}

.sidebar.small .nav__link a {
  justify-content: center;
}

.sidebar.small .nav__link a .icon {
  margin-right: 0;
}

.sidebar.small .notifications__counter {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 13px;
  height: 13px;
}

.nav__link {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--light-bg);
}

.nav__link:hover .nav__hoverbox {
  display: flex;
}

.nav__hoverbox {
  display: none;
  flex-direction: column;
  width: 400px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 99;
  border: 1px solid var(--light-bg);
  background-color: #fff;
}

.nav__link .nav__hoverbox a {
  padding: 0;
}

.nav__hoverbox .notification {
  padding: 15px 20px;
  border-bottom: 1px solid var(--light-bg);
}

.nav__hoverbox a.show-more {
  padding: 10px;
  justify-content: center;
}

.nav__link a {
  text-decoration: none;
  color: var(--font-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 20px;
}

.nav__link a:hover {
  background-color: var(--light-bg);
}

.nav__link a.active {
  color: var(--font-light);
  background-color: var(--dark-bg);
}

.nav__link a .icon {
  margin-right: 10px;
}

.nav__content {
  display: flex;
  align-items: center;
}

.notification {
  width: 100%;
}

.notification__content {
  display: flex;
  align-items: flex-start;
}

.notification__who {
  margin-top: 5px;
  margin-right: 15px;
}

.notification__action {
  font-weight: 700;
  margin-bottom: 5px;
}

.notifications__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  font-size: 0.9rem;
  color: var(--font-light);
  border-radius: 50%;
  background-color: var(--status-unread);
}

main {
  flex: 1;
  max-width: 100%;
  margin-left: 30px;
}

.section--wrapper {
  flex: 1;
  height: 100%;
  margin: 0 15px;
  border: 1px solid var(--light-bg);
  border-bottom: none;
}

.section--wrapper:first-child {
  margin-left: 0;
}

.section--wrapper:last-child {
  margin-right: 0;
}

.section__content {
  padding: 30px;
  display: flex;
}

.section__half {
  display: inline-block;
  width: 50%;
  margin: 0 15px;
}

.section__half:first-child {
  margin-left: 0;
}

.section__half:last-child {
  margin-right: 0;
}

.section__heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--font-dark);
  margin-bottom: 10px;
}

.list {
  width: 100%;
}

.list .list {
  margin-top: 10px;
  padding-left: 20px;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
  padding: 4px 0;
}

.list__buttons button {
  margin-left: 5px;
}

.card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  padding: 20px;
  border: 1px solid var(--light-bg);
  border-radius: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}

.card__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.card .adminui {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

[draggable="true"] {
  cursor: grab;
}

.is-dragging {
  cursor: grabbing;
}

.book-collection {
  width: 100%;
}

.nestable-list {
  position: relative;
  margin-top: 0 !important;
}

.nestable-item-0 > .nestable-list {
  padding-left: 0 !important;
}

.nestable-item {
  margin: 0;
}

.nestable-item-name {
  padding: 20px;
}

.nestable-item-name .adminui {
  display: none;
}

.nestable-item-name:hover .adminui {
  display: flex;
}

.nestable-item-name:hover {
  background-color: var(--light-bg);
  outline: 1px solid var(--dark-bg);
  outline-offset: -1px;
}

.nestable-item-0.nestable-has-children {
  background-color: #fff;
}

.nestable-item-0.nestable-has-children > .nestable-list .nestable-item-name {
  padding-left: 40px;
}

.nestable-item-0 .nestable-list:before {
  content: "";
  display: block;
  width: 1px;
  height: calc(100% - 34px);
  position: absolute;
  z-index: 1;
  background-color: var(--dark-bg);
}

.nestable-item-0 > .nestable-list {
  position: relative;
  margin-left: 20px;
}

.nestable-has-children .nestable-list .nestable-item-name {
  padding-left: 60px;
}

.nestable-has-children .nestable-item-name:hover {
  background-color: var(--light-bg);
  outline: none;
}

.nestable-children-collapsed {
  background-color: #fff;
}

.nestable-collapsed {
  display: none;
}

.bookpart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
}

.bookpart__item::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0;
  background-color: var(--dark-bg);
}

.nestable-item-0 > .nestable-item-name .bookpart__item::before {
  display: none;
}

.bookpart__item button {
  margin-right: 10px;
}

.bookpart__item--part .bookpart__title {
  font-weight: bold;
}

.bookpart__title {
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
}

.bookpart__info {
  display: flex;
  align-items: center;
}

.bookpart__info .bookpart__icon {
  margin-left: 20px;
}

.bookpart__info .stacked {
  width: 170px;
}

.avatar {

}

.avatar--small .avatar__image {
  width: 30px;
  height: 30px;
}

.avatar--medium .avatar__image {
  width: 70px;
  height: 70px;
}

.avatar--big .avatar__image {
  width: 150px;
  height: 150px;
}

.avatar__image {
  position: relative;
}

.avatar__status {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 35%;
  z-index: 1;
  display: block;
  background-color: transparent;
  border-radius: 50%;
}

.avatar__status:before {
  content: "";
  display: block;
  width: 80%;
  height: 80%;
  position: relative;
  left: 10%;
  top: 10%;
  background-color: transparent;
  border-radius: 50%;
}

.avatar__status--online {
  background-color: #fff;
}

.avatar__status--online:before {
  background-color: var(--status-online);
}

.avatar__status--unread {
  background-color: #fff;
}

.avatar__status--unread:before {
  background-color: var(--status-unread);
}

.avatar__image img {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.stacked {
  display: flex;
  width: 200px;
  height: 10px;
}

.stacked__bar {
  display: inline-block;
  height: 100%;
}

.stacked__bar--ready {
  background-color: var(--status-ready);
}

.stacked__bar--translation {
  background-color: var(--status-translation);
}

.stacked__bar--review {
  background-color: var(--status-review);
}

.stacked__bar--done {
  background-color: var(--status-done);
}

.module__status--ready {
  color: var(--status-ready);
}

.module__status--translation {
  color: var(--status-translation);
}

.module__status--review {
  color: var(--status-review);
}

.module__status--done {
  color: var(--status-done);
}

.error {
  display: block;
  color: var(--red);
  margin-bottom: 20px;
}

.success {
  display: block;
  color: var(--green);
  margin-bottom: 20px;
}

form input {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 0.8rem;
  outline: none;
  background-color: #fff;
  border: 1px solid var(--dark-bg);
  border-radius: 4px;
}

input[type="submit"] {
  color: var(--font-light);
  margin-bottom: 0;
  cursor: pointer;
  background-color: var(--dark-bg);
}

input[type="submit"]:hover {
  background-color: #303d50;
}

input[type="disabled"] {
  opacity: 0.6;
  cursor: not-allowed;
}

.modulesList {
  width: 100%;
}

.modulesList__new {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modulesList__new input {
  margin-right: 10px;
}

.modulesList__list {
  margin-top: 20px;
  max-height: 300px;
  overflow: auto;
  border: 1px solid var(--dark-bg);
  background-color: #fff;
}

.modulesList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-bg);
}

.modulesList__item:hover {
  color: var(--font-light);
  background-color: var(--dark-bg);
}

.modulesList__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.modulesList__title {

}
