html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

:root {
  --frame: grey;
  --header-bg: grey;

  --font-main-color: black;
  --font-secondary-color: white;

  --main-decoration: blue;
  --secondary-decoration: grey;

  --status-online: green;
  --status-unread: red;
  --status-ready: blue;
  --status-translation: orange;
  --status-review: red;
  --status-done: green;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: var(--font-main-color);
}

html, body, #root, .container {
  height: 100%;
}

.frame {
  border: 1px solid var(--frame);
  border-bottom: none;
}

.spinner-holder{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.spinner {
  opacity: 1;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  border-bottom: 10px solid #2ECC71;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bold {
  font-weight: 700;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.icon--small {
  width: 15px;
  height: 15px;
}

.icon--medium {
  width: 25px;
  height: 25px;
}

.icon--big {
  width: 40px;
  height: 40px;
}

.button {
  /* reset button styling */
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-decoration: none;
  /* end of reset */

  font-size: 1rem;
  padding: 5px 10px;
  color: var(--font-secondary-color);
  background-color: var(--main-decoration);
  cursor: pointer;
  border-radius: 4px;
}

.button--small {
  font-size: 0.8rem;
  padding: 4px 7px;
}

.button--medium {
  padding: 5px 10px;
}

.button--big {
  font-size: 1.2rem;
  padding: 10px 15px;
}

.button--green {
  background-color: green;
}

.button--red {
  background-color: red;
}

.dialog__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.dialog__content {
  position: relative;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.dialog__close {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.container {
  font-size: 1rem;
}

.container--main {
  display: flex;
}

.container--splitted {
  display: flex;
}

.header {
  max-width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: var(--header-bg);
}

.header__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: 20px;
}

.sidebar {
  width: 250px;
}

.sidebar .header__title {
  margin: 0;
}

.sidebar__toggle {
  display: inline-flex;
  background: none;
}

.sidebar.small {
  width: 70px;
}

.sidebar.small .header__title {
  font-size: 0;
}

.sidebar.small .sidebar__toggle {
  margin-left: -10px;
}

.sidebar.small .nav__text {
  font-size: 0;
}

.sidebar.small .nav__link a {
  justify-content: center;
}

.sidebar.small .nav__link a .icon {
  margin-right: 0;
}

.nav__link {
  border-bottom: 1px solid grey;
}

.nav__link a {
  text-decoration: none;
  color: var(--font-main-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 20px;
}

.nav__link a:hover {
  background-color: grey;
}

.nav__link a.active {
  background-color: green;
}

.nav__link a .icon {
  margin-right: 10px;
}

main {
  flex: 1;
  max-width: 100%;
  margin-left: 30px;
}

.section--wrapper {
  flex: 1;
  height: 100%;
  margin: 0 15px;
  border: 1px solid grey;
  border-bottom: none;
}

.section--wrapper:first-child {
  margin-left: 0;
}

.section--wrapper:last-child {
  margin-right: 0;
}

.section__content {
  padding: 30px;
  display: flex;
}

.section__half {
  display: inline-block;
  width: 50%;
  margin: 0 15px;
}

.section__half:first-child {
  margin-left: 0;
}

.section__half:last-child {
  margin-right: 0;
}

.section__heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--font-main-color);
  margin-bottom: 10px;
}

.list {
  width: 100%;
}

.list .list {
  margin-top: 10px;
  padding-left: 20px;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
  padding: 4px 0;
}

.list__buttons button {
  margin-left: 5px;
}

.card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}

.card__title {
  font-size: 1.2rem;
  font-weight: 700;
}

[draggable="true"] {
  cursor: grab;
}

.is-dragging {
  cursor: grabbing;
}

.book-collection {
  width: 100%;
  max-width: 575px;
}

.bookpart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookpart__item--part .bookpart__title {
  font-weight: bold;
}

.bookpart__title {
  font-size: 1.1rem;
}

.bookpart__info .stacked {
  width: 170px;
}

.avatar {

}

.avatar--small .avatar__image {
  width: 30px;
  height: 30px;
}

.avatar--medium .avatar__image {
  width: 70px;
  height: 70px;
}

.avatar--big .avatar__image {
  width: 150px;
  height: 150px;
}

.avatar__image {
  position: relative;
}

.avatar__status {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 35%;
  z-index: 1;
  display: block;
  background-color: transparent;
  border-radius: 50%;
}

.avatar__status:before {
  content: "";
  display: block;
  width: 80%;
  height: 80%;
  position: relative;
  left: 10%;
  top: 10%;
  background-color: transparent;
  border-radius: 50%;
}

.avatar__status--online {
  background-color: #fff;
}

.avatar__status--online:before {
  background-color: var(--status-online);
}

.avatar__status--unread {
  background-color: #fff;
}

.avatar__status--unread:before {
  background-color: var(--status-unread);
}

.avatar__image img {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.stacked {
  display: flex;
  width: 200px;
  height: 10px;
}

.stacked__bar {
  display: inline-block;
  height: 100%;
}

.stacked__bar--ready {
  background-color: var(--status-ready);
}

.stacked__bar--translation {
  background-color: var(--status-translation);
}

.stacked__bar--review {
  background-color: var(--status-review);
}

.stacked__bar--done {
  background-color: var(--status-done);
}

.module__status--ready {
  color: var(--status-ready);
}

.module__status--translation {
  color: var(--status-translation);
}

.module__status--review {
  color: var(--status-review);
}

.module__status--done {
  color: var(--status-done);
}
