html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

:root {
  --light-bg: #dbe1ef;
  --dark-bg: #3e4e64;

  --font-dark: #3e4e64;
  --font-light: white;

  --main-decoration: #ad35bb;
  --secondary-decoration: #0080db;

  --status-online: #27d768;
  --status-unread: #db0037;
  --status-ready: #0080db;
  --status-translation: #ff9a3e;
  --status-review: #db0037;
  --status-done: #27d768;

  --red: #db0037;
  --green: #27d768;
  --orange: #ff9a3e;
  --blue: #0080db;
}

body {
  position: fixed;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: var(--font-dark);
}

html, body, #root, .container {
  height: 100%;
}

.frame {
  border: 1px solid var(--light-bg);
  border-bottom: none;
}

.spinner-holder{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.spinner {
  opacity: 1;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top: 10px solid var(--main-decoration);
  border-bottom: 10px solid var(--secondary-decoration);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.icon--small svg {
  width: 15px;
  height: 15px;
}

.icon--medium svg {
  width: 25px;
  height: 25px;
}

.icon--big svg {
  width: 40px;
  height: 40px;
}

.button {
  /* reset button styling */
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-decoration: none;
  /* end of reset */

  font-size: 1rem;
  padding: 5px 10px;
  color: var(--font-light);
  background-color: var(--dark-bg);
  cursor: pointer;
  border-radius: 4px;
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.button--small {
  font-size: 0.8rem;
  padding: 4px 7px;
}

.button--medium {
  padding: 5px 10px;
}

.button--big {
  font-size: 1.2rem;
  padding: 10px 15px;
}

.button--green {
  background-color: var(--green);
}

.button--red {
  background-color: var(--red);
}

.dialog__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.dialog__container.supersession {
  z-index: 999;
}

.dialog__content {
  position: relative;
  width: 300px;
  padding: 20px;
  background-color: var(--light-bg);
  border-radius: 5px;
}

.dialog__container--small .dialog__content {
  width: 300px;
}

.dialog__container--medium .dialog__content {
  width: 600px;
}

.dialog__container--big .dialog__content {
  width: 900px;
}

.dialog__title {
  padding: 20px 0;
}

.dialog__content button {
  margin-right: 10px;
}

.dialog__close {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.error404 h1 {
  font-size: 1.3rem;
}

.container {
  font-size: 1rem;
}

.container--main {
  display: flex;
}

.container--splitted {
  display: flex;
}

.header {
  max-width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: var(--light-bg);
}

.header.fixed {
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__title {
  font-size: 1.5rem;
  margin-right: 20px;
}

.header .adminui {
  margin-right: 20px;
}

.header .date {
  margin-right: 20px;
}

.header .button {
  margin-right: 10px;
}

.header .module__assignee {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header .module__assignee > span {
  margin-right: 5px;
}

.header .lock-swiping .button {
  margin-left: 10px;
}

.adminui {
  display: flex;
  align-items: center;
}

.adminui .input {
  margin-right: 10px;
}

.sidebar {
  width: 250px;
  border-left: 0;
}

.sidebar .header__title {
  margin: 0;
}

.sidebar__toggle {
  display: inline-flex;
  background: none;
  color: var(--font-dark);
}

.sidebar.small {
  width: 70px;
}

.sidebar.small .header {
  justify-content: center;
}

.sidebar.small .header__title {
  font-size: 0;
}

.sidebar.small .nav__text {
  font-size: 0;
}

.sidebar.small .nav__link a {
  justify-content: center;
}

.sidebar.small .nav__link a .icon {
  margin-right: 0;
}

.sidebar.small .notifications__counter {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 13px;
  height: 13px;
  font-size: 0;
}

.nav__link {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--light-bg);
}

.nav__link:hover .nav__hoverbox {
  display: flex;
}

.nav__hoverbox {
  display: none;
  flex-direction: column;
  width: 400px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 99;
  border: 1px solid var(--light-bg);
  background-color: #fff;
}

.nav__link .nav__hoverbox a {
  padding: 0;
}

.nav__hoverbox a.nav__link {
  padding: 15px 20px;
  box-sizing: border-box;
}

.nav__hoverbox .notification {
  padding: 15px 20px;
  border-bottom: 1px solid var(--light-bg);
}

.nav__hoverbox a.show-more {
  padding: 10px;
  justify-content: center;
}

.nav__link a {
  text-decoration: none;
  color: var(--font-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 20px;
}

.nav__link a:hover {
  background-color: var(--light-bg);
}

.nav__link a.active {
  color: var(--font-light);
  background-color: var(--dark-bg);
}

.nav__link a .icon {
  margin-right: 10px;
}

.nav__content {
  display: flex;
  align-items: center;
}

.notification {
  width: 100%;
  color: var(--font-dark);
}

.notification__content {
  display: flex;
  align-items: flex-start;
}

.notification__who {
  margin-top: 5px;
  margin-right: 15px;
}

.notification__action {
  margin-bottom: 5px;
}

.notifications__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 0.9rem;
  color: var(--font-light);
  border-radius: 50%;
  background-color: var(--status-unread);
}

main {
  flex: 1;
  max-width: 100%;
  margin-left: 30px;
}

.section--wrapper {
  position: relative;
  flex: 1;
  height: 100%;
  margin: 0 15px;
  border: 1px solid var(--light-bg);
  border-bottom: none;
  overflow: auto;
}

.section--wrapper:first-child {
  margin-left: 0;
}

.section--wrapper:last-child {
  margin-right: 0;
}

.section__content {
  padding: 30px 30px 0px 30px;
  display: flex;
}

.section__half {
  display: inline-block;
  width: 50%;
  margin: 0 15px;
}

.section__half:first-child {
  margin-left: 0;
}

.section__half:last-child {
  margin-right: 0;
}

.section__heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--font-dark);
  margin-bottom: 10px;
}

.list {
  width: 100%;
}

.list .list {
  margin-top: 10px;
  padding-left: 20px;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  border-bottom: 1px solid var(--light-bg);
}

.list__buttons button {
  margin-left: 5px;
}

.files-uploader {
  margin-top: 10px;
}

.files-dropzone {
  padding: 15px 10px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 3px;
}

.files-dropzone-active {
  background-color: var(--green);
}

.files__list {
  margin: 10px 0;
  max-height: 300px;
  overflow: auto;
}

.files__file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 5px;
}

.files__close {
  display: inline-flex;
  cursor: pointer;
}

.card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  padding: 20px;
  border: 1px solid var(--light-bg);
  border-radius: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}

.card__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.card .adminui {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.card .adminui .button {
  margin-left: 10px;
}

[draggable="true"] {
  cursor: grab;
}

.is-dragging {
  cursor: grabbing;
}

.book-collection {
  width: 100%;
}

.nestable-list {
  position: relative;
  margin-top: 0 !important;
}

.nestable-item-0 > .nestable-list {
  padding-left: 0 !important;
}

.nestable-item {
  margin: 0;
}

.nestable-item-name {
  padding: 20px;
}

.nestable-item-name .adminui {
  display: none;
}

.nestable-item-name:hover .adminui {
  display: flex;
}

.nestable-item-name:hover {
  background-color: var(--light-bg);
  outline: 1px solid var(--dark-bg);
  outline-offset: -1px;
}

.nestable-item-0.nestable-has-children {
  background-color: #fff;
}

.nestable-item-0.nestable-has-children > .nestable-list .nestable-item-name {
  padding-left: 40px;
}

.nestable-item-0 .nestable-list:before {
  content: "";
  display: block;
  width: 1px;
  height: calc(100% - 30px);
  position: absolute;
  z-index: 1;
  background-color: var(--dark-bg);
}

.nestable-item-0 > .nestable-list {
  position: relative;
  margin-left: 20px;
}

.nestable-has-children .nestable-list .nestable-item-name {
  padding-left: 60px;
}

.nestable-has-children .nestable-item-name:hover {
  background-color: var(--light-bg);
  outline: none;
}

.nestable-has-children .nestable-item-name:hover .bookpart__info {
  background-color: var(--light-bg);
}

.nestable-children-collapsed {
  background-color: #fff;
}

.nestable-collapsed {
  display: none;
}

.bookpart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
}

.bookpart__item::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0;
  background-color: var(--dark-bg);
}

.nestable-item-0 > .nestable-item-name .bookpart__item::before {
  display: none;
}

.bookpart__item button {
  margin-right: 10px;
}

.bookpart__item--part .bookpart__title {
  font-weight: bold;
}

.bookpart__title {
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.bookpart__info {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.bookpart__info .avatar {
  margin-right: 10px;
}

.bookpart__icon {
  cursor: pointer;
}

.bookpart__icon .icon {
  padding: 20px;
}

.bookpart__info .stacked {
  width: 170px;
}

.avatar {

}

.avatar--small .avatar__image {
  width: 30px;
  height: 30px;
  --border: 4px;
}

.avatar--medium .avatar__image {
  width: 50px;
  height: 50px;
  --border: 6px;
}

.avatar--big .avatar__image {
  width: 150px;
  height: 150px;
  --border: 8px;
}

.avatar__image {
  position: relative;
  --border: 8px;
}

.avatar__image:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: calc(var(--border) / -2);
  left: calc(var(--border) / -2);
  display: block;
  width: calc(100% + var(--border));
  height: calc(100% + var(--border));
  background-image:  linear-gradient(var(--main-decoration), var(--secondary-decoration));
  border-radius: 50%;
}

.avatar__image img {
  position: relative;
  z-index: 1;
}

.avatar__status {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 35%;
  z-index: 1;
  display: block;
  background-color: transparent;
  border-radius: 50%;
}

.avatar__status:before {
  content: "";
  display: block;
  width: 80%;
  height: 80%;
  position: relative;
  left: 10%;
  top: 10%;
  background-color: transparent;
  border-radius: 50%;
}

.avatar__status--online {
  background-color: #fff;
}

.avatar__status--online:before {
  background-color: var(--status-online);
}

.avatar__status--unread {
  background-color: #fff;
}

.avatar__status--unread:before {
  background-color: var(--status-unread);
}

.avatar__image img {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.stacked {
  display: flex;
  width: 200px;
  height: 15px;
}

.stacked__bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 0.8rem;
  color: var(--font-light);
}

.stacked__bar:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.stacked__bar:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stacked__bar--ready {
  background-color: var(--status-ready);
}

.stacked__bar--translation {
  background-color: var(--status-translation);
}

.stacked__bar--review {
  background-color: var(--status-review);
}

.stacked__bar--done {
  background-color: var(--status-done);
}

.module__status--ready {
  color: var(--status-ready);
}

.module__status--translation {
  color: var(--status-translation);
}

.module__status--review {
  color: var(--status-review);
}

.module__status--done {
  color: var(--status-done);
}

.error {
  display: block;
  color: var(--red);
  margin-bottom: 20px;
}

.success {
  display: block;
  color: var(--green);
  margin-bottom: 20px;
}

form input {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 0.9rem;
  outline: none;
  background-color: #fff;
  border: 1px solid var(--dark-bg);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  color: var(--font-light);
  margin-bottom: 0;
  cursor: pointer;
  background-color: var(--dark-bg);
}

input[type="submit"]:hover {
  background-color: #303d50;
}

input[type="disabled"] {
  opacity: 0.6;
  cursor: not-allowed;
}

.input input {
  display: block;
  width: 100%;
}

.input.valid input {
  color: var(--green);
  border: 1px solid var(--green);
}

.input.invalid input {
  color: var(--red);
  border: 1px solid var(--red);
}

.input__error {
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--red);
}

textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  padding: 15px;
  font-size: 0.9rem;
  background-color: #fff;
  border: 1px solid var(--dark-bg);
  border-radius: 4px;
  box-sizing: border-box;
}

.modulesList {
  width: 100%;
}

.modulesList__new {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modulesList__new .files-uploader {
  margin-top: 0;
}

.modulesList__top-bar {
  display: flex;
  align-items: center;
}

.modulesList__new input {
  margin-right: 10px;
}

.modulesList__list {
  margin-top: 20px;
  max-height: 300px;
  overflow: auto;
  border: 1px solid var(--dark-bg);
  background-color: #fff;
}

.modulesList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-bg);
}

.modulesList__item:hover {
  color: var(--font-light);
  background-color: var(--dark-bg);
}

.modulesList__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.usersList {
  width: 100%;
}

.usersList__list {
  margin-top: 20px;
  max-height: 300px;
  overflow: auto;
  border: 1px solid var(--dark-bg);
  background-color: #fff;
}

.usersList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-bg);
}

.usersList__item:hover {
  color: var(--font-light);
  background-color: var(--dark-bg);
}

.usersList__info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.usersList__avatar {
  margin-right: 10px;
}

.settings {
  width: 100%;
  max-width: 400px;
}

.settings .input, .settings__select {
  width: 100%;
  margin-bottom: 10px;
}

.settings__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 20px 0;
}

.alerts {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
}

.alerts__alert {
  position: relative;
  display: flex;
  width: 300px;
  margin-top: 10px;
  padding: 20px;
  line-height: 1.4;
  border: 1px solid var(--light-bg);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.95);
}

.alerts__close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
}

.alert--success {
  border-color: var(--green);
}

.alert--warning {
  border-color: var(--orange);
}

.alert--info {
  border-color: var(--blue);
}

.alert--error {
  border-color: var(--red);
}

.notificationsList {
  width: 100%;
  margin-top: -20px;
}

.notificationsList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--light-bg);
}

.notificationsList .notification {
  cursor: pointer;
}

.notificationsList .notification__content {
  align-items: center;
}

.notificationsList .notification__who {
  margin-top: 0;
}

.notificationsList .notification__action {
  margin-bottom: 0;
}

.notificationsList .notification__date {
  display: inline-block;
  margin-top: 5px;
}

.modulePreview {
  line-height: 1.4;
}

.cnxml title {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.8;
}

.cnxml metadata {
  display: none;
}

.cnxml para {
  margin: 5px 0;
  display: block;
}

.cnxml emphasis {
  font-weight: 700;
}

.cnxml emphasis[effect="italics"] {
  font-style: italic;
}

.cnxml footnote {
  display: block;
}

.cnxml footnote::before {
  counter-increment: footnote;
  content: counter(footnote) ". ";
}

.cnxml note, .cnxml example {
  background-color: var(--light-bg);
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}

.cnxml section {
  margin: 10px 0;
}

.cnxml exercise {
  display: block;
  border-inline-start: 4px solid var(--dark-bg);
  margin-inline-start: 10px;
  margin-bottom: 10px;
  padding-inline-start: 8px;
}

.cnxml exercise::before {
  display: block;
  color: var(--dark-bg);
}

.cnxml exercise * > :first-child {
  margin-top: 0;
}

.cnxml problem, solution, commentary {
  display: block;
  margin: 5px 0;
}

.cnxml exercise problem::before {
  content: 'Problem ' counter(exercise) ':';
  font-weight: 700;
}

.cnxml exercise solution::before {
  content: 'Solution ' counter(exercise_solution) ':';
  font-weight: 700;
}

.cnxml exercise commentary::before {
  content: 'Commentary: ';
  font-weight: 700;
}

.user .userui {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}

.user__avatar {
  position: relative;
}

.user__avatar .userui {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 0;
}

.user__top {
  display: flex;
  align-items: center;
}

.user__name {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 30px;
}

.user__title {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6;
}

.user__info {
  margin-top: 30px;
}

.user__bio {
  margin-bottom: 30px;
}

.user__bio p {
  line-height: 1.4;
  margin-bottom: 10px;
}

.user__update-dialog button {
  margin-top: 10px;
}

.teamList {
  width: 100%;
  margin-top: -20px;
}

.teamList__item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--light-bg);
  cursor: pointer;
}

.teamList__username {
  color: var(--font-dark);
  margin-left: 20px;
}

.invitations .input {
  margin-bottom: 10px;
}

.conv {
  width: 100%;
  height: 100%;
}

.conv__messages {
  width: 100%;
  height: calc(100vh - 180px);
  overflow-y: auto;
}

.conv__content {
  width: 65%;
  display: flex;
  align-items: center;
  line-height: 1.4;
}

.conv__message {
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.conv__message--me {
  justify-content: flex-end;
}

.conv__message--me .conv__content {
  flex-direction: row-reverse;
}

.conv__message--other {
  justify-content: flex-start;
}

.conv__avatar {
  display: flex;
  align-items: flex-end;
  height: calc(100% - 2px);
  margin: 0 10px;
}

.conv__date {
  font-size: 0.9rem;
  padding: 0 10px;
  white-space: pre;
}

.conv__text {
  padding: 10px;
  border-radius: 4px;
  background-color: var(--light-bg);
}

.conv__input {
  position: sticky;
  z-index: 1;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 70px;
  background-color: #fff;
  border-top: 1px solid var(--light-bg);
}

.msgInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 15px 0;
}

.msgInput [role="textbox"] {
  -moz-user-select: text;
  cursor: text;
  width: 89%;
  min-height: 30px;
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.msgInput__text {
  line-height: 1.4;
  border: none;
  padding: 0;
  min-height: 0;
}

.msgInput .usersList {
  position: absolute;
  bottom: 100%;
  width: 400px;
  background-color: #fff;
  border: 1px solid var(--light-bg);
}

.msgInput .usersList__item.selected {
  color: var(--font-light);
  background-color: var(--dark-bg);
}
